MQTTS/MQTTS.json
[{"id":"93404a44.325238","type":"tab","label":"MQTTS_DAM2_PF","disabled":false,"info":""},{"id":"79f43a20.cd78e4","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"246F28AB4094","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":300,"y":40,"wires":[["87e35d20.59d19"]]},{"id":"87e35d20.59d19","type":"function","z":"93404a44.325238","name":"--> MAC + Topics","func":"flow.set(\"MAC\",msg.payload)\nflow.set(\"TOPIC_LATCHING_RELAY\",\"/\"+msg.payload + \"/latchingRelay\")\nflow.set(\"TOPIC_BT_I35\",\"/\"+msg.payload + \"/btI35\")\nflow.set(\"TOPIC_BT_I34\",\"/\"+msg.payload + \"/btI34\")\nflow.set(\"TOPIC_BT_IO0\",\"/\"+msg.payload + \"/btIO0\")\nflow.set(\"TOPIC_LATCHING_RELAY\",\"/\"+msg.payload + \"/latchingRelay\")\nflow.set(\"TOPIC_REQUEST_LDR\",\"/\"+msg.payload + \"/ldrReq\")\nflow.set(\"TOPIC_LDR\",\"/\"+msg.payload + \"/ldr\")\nflow.set(\"TOPIC_REQUEST_T\",\"/\"+msg.payload + \"/tempReq\")\nflow.set(\"TOPIC_T\",\"/\"+msg.payload + \"/temp\")\nflow.set(\"TOPIC_LED_W\",\"/\"+msg.payload + \"/ledW\")\nflow.set(\"TOPIC_LED_R\",\"/\"+msg.payload + \"/ledR\")\nflow.set(\"TOPIC_LED_Y\",\"/\"+msg.payload + \"/ledY\")\nflow.set(\"TOPIC_LED_G\",\"/\"+msg.payload + \"/ledG\")\nflow.set(\"TOPIC_SMALL_TEXT\",\"/\"+msg.payload + \"/10pxTxt\")\nflow.set(\"TOPIC_MEDIUM_TEXT\",\"/\"+msg.payload + \"/16pxTxt\")\nflow.set(\"TOPIC_BIG_TEXT\",\"/\"+msg.payload + \"/24pxTxt\")\nflow.set(\"TOPIC_REQ_ALL\", \"/\"+msg.payload + \"/ReqAll\")\nflow.set(\"TOPIC_READ_ALL\", \"/\"+msg.payload + \"/ReadAll\")\nflow.set(\"SIZE\",\"4\")\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":40,"wires":[["fae21bfc.ccbbe8"]]},{"id":"fe2ff985.13d588","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":100,"wires":[["faae2f06.cac05"]]},{"id":"faae2f06.cac05","type":"function","z":"93404a44.325238","name":"MAC -->","func":"var MAC = flow.get(\"MAC\");\nmsg.payload = MAC;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":100,"wires":[["fae21bfc.ccbbe8"]]},{"id":"fae21bfc.ccbbe8","type":"debug","z":"93404a44.325238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":100,"wires":[]},{"id":"b880b771.e08668","type":"mqtt in","z":"93404a44.325238","name":"","topic":"#","qos":"2","datatype":"auto","broker":"f4a86fc3.9ccd8","x":250,"y":160,"wires":[["f25cb360.8a213"]]},{"id":"f25cb360.8a213","type":"function","z":"93404a44.325238","name":"if it is my MAC -->","func":"var MAC = flow.get(\"MAC\");\nvar topic = String(msg.topic);\n\nif (topic.indexOf(MAC) !== -1)\n   return msg;\n","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["70c28906.b86fa8","27ad2e7.62f8bd2","7e4770ec.148ba"]]},{"id":"18ada97.ac6cc57","type":"debug","z":"93404a44.325238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":160,"wires":[]},{"id":"70c28906.b86fa8","type":"function","z":"93404a44.325238","name":"TOPIC_BT_I35 -->","func":"var topic = String(msg.topic);\nvar topic_BT_I35 = flow.get(\"TOPIC_BT_I35\");\n\nif (topic === topic_BT_I35)\n   return msg;\n","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["18ada97.ac6cc57"]]},{"id":"27ad2e7.62f8bd2","type":"function","z":"93404a44.325238","name":"TOPIC_LDR -->","func":"var topic = String(msg.topic)\nvar topic_LDR = flow.get(\"TOPIC_LDR\")\n\nif (topic === topic_LDR){\n    msg.payload = \"LDR: \" + msg.payload\n   return msg\n}\n","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["f461f70d.bec968","c12fa177.3c4f9"]]},{"id":"f461f70d.bec968","type":"debug","z":"93404a44.325238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":200,"wires":[]},{"id":"b883fa9d.78c488","type":"mqtt out","z":"93404a44.325238","name":"","topic":"","qos":"","retain":"","broker":"f4a86fc3.9ccd8","x":850,"y":440,"wires":[]},{"id":"f859687.bff4f98","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":280,"wires":[["f5effa85.ddaa38"]]},{"id":"f5effa85.ddaa38","type":"function","z":"93404a44.325238","name":"TOPIC_REQUEST_LDR -->","func":"msg.payload = \"reqLDR\"\nmsg.topic = flow.get(\"TOPIC_REQUEST_LDR\")\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":320,"wires":[["b883fa9d.78c488"]]},{"id":"91a41cd8.0a779","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":420,"wires":[["9853c3f8.97db9"]]},{"id":"9853c3f8.97db9","type":"function","z":"93404a44.325238","name":"TOPIC_LATCHING_RELAY -->","func":"msg.topic = flow.get(\"TOPIC_LATCHING_RELAY\")\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":440,"wires":[["b883fa9d.78c488"]]},{"id":"be7e456f.54bee8","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":460,"wires":[["9853c3f8.97db9"]]},{"id":"20c189d.01fca76","type":"function","z":"93404a44.325238","name":"TOPIC_TEXT -->","func":"var size = flow.get(\"SIZE\");\nswitch(size) {\n  case \"2\":\n    msg.topic = flow.get(\"TOPIC_SMALL_TEXT\")\n    break;\n  case \"3\":\n    msg.topic = flow.get(\"TOPIC_MEDIUM_TEXT\")\n    break;\n  case \"4\":\n    msg.topic = flow.get(\"TOPIC_BIG_TEXT\")\n    break;\n    default: \n    msg.topic = flow.get(\"TOPIC_SMALL_TEXT\")\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":820,"wires":[["b883fa9d.78c488"]]},{"id":"89b7b0f4.0da84","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"Patata","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":820,"wires":[["20c189d.01fca76"]]},{"id":"96527212.b104f","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":500,"wires":[["ede9b632.b96498"]]},{"id":"ede9b632.b96498","type":"function","z":"93404a44.325238","name":"TOPIC_LED_W -->","func":"msg.topic = flow.get(\"TOPIC_LED_W\")\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":520,"wires":[["b883fa9d.78c488"]]},{"id":"7a72b204.1824cc","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":540,"wires":[["ede9b632.b96498"]]},{"id":"73330dc9.dd5144","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":580,"wires":[["43854e96.46667"]]},{"id":"43854e96.46667","type":"function","z":"93404a44.325238","name":"TOPIC_LED_R -->","func":"msg.topic = flow.get(\"TOPIC_LED_R\")\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":600,"wires":[["b883fa9d.78c488"]]},{"id":"54d080c9.78e73","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":620,"wires":[["43854e96.46667"]]},{"id":"a6808364.040c8","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":660,"wires":[["612e1d27.9ba0f4"]]},{"id":"612e1d27.9ba0f4","type":"function","z":"93404a44.325238","name":"TOPIC_LED_Y -->","func":"msg.topic = flow.get(\"TOPIC_LED_Y\")\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":680,"wires":[["b883fa9d.78c488"]]},{"id":"1a0ffdbc.27f062","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":700,"wires":[["612e1d27.9ba0f4"]]},{"id":"819947f5.ef9ca8","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":740,"wires":[["f441acdf.ba754"]]},{"id":"f441acdf.ba754","type":"function","z":"93404a44.325238","name":"TOPIC_LED_G -->","func":"msg.topic = flow.get(\"TOPIC_LED_G\")\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["b883fa9d.78c488"]]},{"id":"f3025b0d.c21388","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":780,"wires":[["f441acdf.ba754"]]},{"id":"e5bb3268.e0183","type":"ui_switch","z":"93404a44.325238","name":"","label":"Relay","tooltip":"","group":"95db6272.9019","order":3,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":110,"y":440,"wires":[["9853c3f8.97db9"]]},{"id":"ed4191f4.c8e72","type":"ui_text_input","z":"93404a44.325238","name":"","label":"Text","tooltip":"","group":"95db6272.9019","order":9,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":250,"y":860,"wires":[["20c189d.01fca76"]]},{"id":"dcc64c2c.1792b","type":"ui_button","z":"93404a44.325238","name":"","group":"95db6272.9019","order":1,"width":"3","height":"1","passthru":false,"label":"GetLDR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":220,"y":240,"wires":[["f5effa85.ddaa38"]]},{"id":"e11d6f5e.364ff","type":"ui_switch","z":"93404a44.325238","name":"","label":"LED_W","tooltip":"","group":"95db6272.9019","order":4,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":100,"y":520,"wires":[["ede9b632.b96498"]]},{"id":"18072dfa.321dd2","type":"ui_switch","z":"93404a44.325238","name":"","label":"LED_R","tooltip":"","group":"95db6272.9019","order":5,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":100,"y":600,"wires":[["43854e96.46667"]]},{"id":"53b277f8.263478","type":"ui_switch","z":"93404a44.325238","name":"","label":"LED_G","tooltip":"","group":"95db6272.9019","order":7,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":100,"y":760,"wires":[["f441acdf.ba754"]]},{"id":"965bcc2.9c90f3","type":"ui_switch","z":"93404a44.325238","name":"","label":"LED_Y","tooltip":"","group":"95db6272.9019","order":6,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":100,"y":680,"wires":[["612e1d27.9ba0f4"]]},{"id":"51f28667.a9f408","type":"ui_gauge","z":"93404a44.325238","name":"","group":"95db6272.9019","order":10,"width":0,"height":0,"gtype":"wave","title":"LDR","label":"","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":200,"wires":[]},{"id":"c12fa177.3c4f9","type":"function","z":"93404a44.325238","name":"onlyNumbers","func":"var val = msg.payload;\nmsg.payload = val.replace(/\\D/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":240,"wires":[["51f28667.a9f408"]]},{"id":"2ddab285.66115e","type":"ui_dropdown","z":"93404a44.325238","name":"","label":"Selector de tamaño","tooltip":"","place":"Huge","group":"95db6272.9019","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"Small","value":2,"type":"num"},{"label":"Middle","value":"3","type":"str"},{"label":"Huge","value":"4","type":"str"}],"payload":"","topic":"","x":890,"y":760,"wires":[["6924cc6d.d518b4"]]},{"id":"6924cc6d.d518b4","type":"function","z":"93404a44.325238","name":"","func":"flow.set(\"SIZE\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":760,"wires":[[]]},{"id":"7e4770ec.148ba","type":"function","z":"93404a44.325238","name":"TOPIC_ALL -->","func":"var topic = String(msg.topic)\nvar topic_All = flow.get(\"TOPIC_READ_ALL\")\n\nif (topic === topic_All){\n   return msg;\n}\n","outputs":1,"noerr":0,"x":640,"y":240,"wires":[["836a5dda.361e1"]]},{"id":"836a5dda.361e1","type":"function","z":"93404a44.325238","name":"Splitter","func":"var array = msg.payload.split(\",\");\nvar T = {payload: (array[0])};\nvar RH = {payload: (array[1])};\nvar P = {payload: (array[2])};\nreturn [T, RH, P];","outputs":3,"noerr":0,"x":820,"y":300,"wires":[["20855ade.570d46","ce871883.784a58"],["9e3cfacf.3a1808","99ffb362.73842"],["569cd9d0.f3b098","2c7a3112.ce010e"]]},{"id":"20855ade.570d46","type":"function","z":"93404a44.325238","name":"ºC","func":"var Temp = Math.round(msg.payload * 100) / 100 + \" ºC\";\nflow.set(\"Temp\", Temp);\nmsg.payload = Temp;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":280,"wires":[["8730869f.9a52f8"]]},{"id":"9e3cfacf.3a1808","type":"function","z":"93404a44.325238","name":"hPa","func":"var Pres = Math.round(msg.payload * 100) / 100 + \" hPa\";\nflow.set(\"Pres\", Pres);\nmsg.payload = Pres;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":380,"wires":[["907741b5.90a16"]]},{"id":"569cd9d0.f3b098","type":"function","z":"93404a44.325238","name":"%","func":"var Hum = Math.round(msg.payload * 100) / 100 + \" %\";\nflow.set(\"Hum\", Hum);\nmsg.payload = Hum;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":480,"wires":[["aa1f0c20.b6c5b"]]},{"id":"8730869f.9a52f8","type":"debug","z":"93404a44.325238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":280,"wires":[]},{"id":"cdd76e39.28db9","type":"influxdb out","z":"93404a44.325238","influxdb":"d04eae68.67e9d","name":"","measurement":"Temperatura","precision":"","retentionPolicy":"","x":1320,"y":320,"wires":[]},{"id":"907741b5.90a16","type":"debug","z":"93404a44.325238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":400,"wires":[]},{"id":"2a5862f0.c66ebe","type":"influxdb out","z":"93404a44.325238","influxdb":"d04eae68.67e9d","name":"","measurement":"Presion","precision":"","retentionPolicy":"","x":1280,"y":440,"wires":[]},{"id":"aa1f0c20.b6c5b","type":"debug","z":"93404a44.325238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":520,"wires":[]},{"id":"9c02f14.044371","type":"influxdb out","z":"93404a44.325238","influxdb":"d04eae68.67e9d","name":"","measurement":"Humedad","precision":"","retentionPolicy":"","x":1290,"y":560,"wires":[]},{"id":"74deeeb.d10871","type":"function","z":"93404a44.325238","name":"TOPIC_REQUEST_ALL -->","func":"msg.payload = \"reqAll\"\nmsg.topic = flow.get(\"TOPIC_REQ_ALL\")\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":380,"wires":[["b883fa9d.78c488"]]},{"id":"ce871883.784a58","type":"function","z":"93404a44.325238","name":"2Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":320,"wires":[["cdd76e39.28db9","4dd7a693.ef8ea8"]]},{"id":"99ffb362.73842","type":"function","z":"93404a44.325238","name":"2Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":420,"wires":[["2a5862f0.c66ebe","ea40d2a.81dd03"]]},{"id":"2c7a3112.ce010e","type":"function","z":"93404a44.325238","name":"2Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":520,"wires":[["9c02f14.044371","d29d1208.bd3a1"]]},{"id":"4dd7a693.ef8ea8","type":"ui_gauge","z":"93404a44.325238","name":"","group":"95db6272.9019","order":11,"width":0,"height":0,"gtype":"donut","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":360,"wires":[]},{"id":"ea40d2a.81dd03","type":"ui_gauge","z":"93404a44.325238","name":"","group":"95db6272.9019","order":12,"width":0,"height":0,"gtype":"gage","title":"Presión","label":"hPa","format":"{{value}}","min":"885","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":480,"wires":[]},{"id":"d29d1208.bd3a1","type":"ui_gauge","z":"93404a44.325238","name":"","group":"95db6272.9019","order":13,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":600,"wires":[]},{"id":"904ae6d8.68c528","type":"ui_button","z":"93404a44.325238","name":"","group":"95db6272.9019","order":2,"width":"3","height":"1","passthru":false,"label":"GetAll","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":230,"y":320,"wires":[["74deeeb.d10871"]]},{"id":"c9f731b2.76ed9","type":"inject","z":"93404a44.325238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":360,"wires":[["74deeeb.d10871"]]},{"id":"f4a86fc3.9ccd8","type":"mqtt-broker","z":"","name":"mqtts Siarq","broker":"iot.siarq.net","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"95db6272.9019","type":"ui_group","z":"","name":"PF_DAM2_Dashboard","tab":"68fc90df.50988","order":1,"disp":true,"width":"6","collapse":false},{"id":"d04eae68.67e9d","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Iot2","name":"","usetls":false,"tls":""},{"id":"68fc90df.50988","type":"ui_tab","z":"","name":"PF_DAM2","icon":"dashboard","order":10,"disabled":false,"hidden":false}]