LoRaOTAA/LoRaOTAA.json
[{"id":"8cf952f3.c118d","type":"tab","label":"LoRa OTAA","disabled":false,"info":""},{"id":"d2ca90b2.da722","type":"influxdb out","z":"8cf952f3.c118d","influxdb":"d04eae68.67e9d","name":"","measurement":"Temperatura","precision":"","retentionPolicy":"","x":960,"y":440,"wires":[]},{"id":"d266f318.d7d5f","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":260,"wires":[]},{"id":"d66a4fad.b5ee7","type":"function","z":"8cf952f3.c118d","name":"buffer -> string","func":"var nQuants = msg.payload.length;\nvar i,n;\nvar szC = \"\",sz = \"\";\n\nfor(i = 0 ; i < nQuants ; i++){\n    n = msg.payload[i];\n    sz = n.toString(16);\n    if(sz.length == 1)\n        sz = \"0\"+sz;\n    szC += sz;\n}\nmsg.payload = szC;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["694424db.27f08c","ffc651fc.60fa"]]},{"id":"694424db.27f08c","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":340,"wires":[]},{"id":"d9c7f8cd.f9d068","type":"function","z":"8cf952f3.c118d","name":"Minimum of 2 seconds for a new info","func":"var currentDate = new Date().toISOString();\nvar timestamp = Date.parse(currentDate);\nif(flow.get(\"LAST_SENT\")+2000 < timestamp){\n    flow.set(\"LAST_SENT\",timestamp);\n    return msg;\n}","outputs":1,"noerr":0,"x":310,"y":940,"wires":[[]]},{"id":"ffc651fc.60fa","type":"function","z":"8cf952f3.c118d","name":"12 -> 3x4","func":"var T = {payload: (msg.payload.substring(0,8))};\nvar RH = {payload: (msg.payload.substring(8,16))};\nvar P = {payload: (msg.payload.substring(16,24))};\nvar Anw = {payload: (msg.payload.substring(24,32))};\nreturn [T,RH,P,Anw];","outputs":4,"noerr":0,"x":280,"y":520,"wires":[["69d5126.1eac4ec"],["9bb70a89.775c58"],["d9a3bdb6.7404c"],["68e18eba.ac27c"]]},{"id":"5cff3ee3.ea35","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":400,"wires":[]},{"id":"90178666.cd5a58","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":500,"wires":[]},{"id":"4183992.ddb6468","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":600,"wires":[]},{"id":"69d5126.1eac4ec","type":"function","z":"8cf952f3.c118d","name":"parseFloat2","func":"// https://stackoverflow.com/questions/5055723/converting-hexadecimal-to-float-in-javascript\n\nfunction parseFloat2(str) {\n    var float = 0, sign, order, mantiss,exp,\n    int = 0, multi = 1;\n    if (/^0x/.exec(str)) {\n        int = parseInt(str,16);\n    }else{\n        for (var i = str.length -1; i >=0; i -= 1) {\n            if (str.charCodeAt(i)>255) {\n                console.log('Wrong string parametr'); \n                return false;\n            }\n            int += str.charCodeAt(i) * multi;\n            multi *= 256;\n        }\n    }\n    sign = (int>>>31)?-1:1;\n    exp = (int >>> 23 & 0xff) - 127;\n    mantissa = ((int & 0x7fffff) + 0x800000).toString(2);\n    for (i=0; i<mantissa.length; i+=1){\n        float += parseInt(mantissa[i])? Math.pow(2,exp):0;\n        exp--;\n    }\n    return float*sign;\n}\n\nmsg.payload = parseFloat2('0x'+msg.payload);\nflow.set(\"Temp\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["6513ae4e.a95d","d2ca90b2.da722"]]},{"id":"d9a3bdb6.7404c","type":"function","z":"8cf952f3.c118d","name":"parseFloat2","func":"function parseFloat2(str) {\n    var float = 0, sign, order, mantiss,exp,\n    int = 0, multi = 1;\n    if (/^0x/.exec(str)) {\n        int = parseInt(str,16);\n    }else{\n        for (var i = str.length -1; i >=0; i -= 1) {\n            if (str.charCodeAt(i)>255) {\n                console.log('Wrong string parametr'); \n                return false;\n            }\n            int += str.charCodeAt(i) * multi;\n            multi *= 256;\n        }\n    }\n    sign = (int>>>31)?-1:1;\n    exp = (int >>> 23 & 0xff) - 127;\n    mantissa = ((int & 0x7fffff) + 0x800000).toString(2);\n    for (i=0; i<mantissa.length; i+=1){\n        float += parseInt(mantissa[i])? Math.pow(2,exp):0;\n        exp--;\n    }\n    return float*sign;\n}\n\nmsg.payload = parseFloat2('0x'+msg.payload);\nflow.set(\"Press\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":580,"wires":[["ffebfc6e.fb29c","7f880639.59f828"]]},{"id":"9bb70a89.775c58","type":"function","z":"8cf952f3.c118d","name":"parseFloat2","func":"function parseFloat2(str) {\n    var float = 0, sign, order, mantiss,exp,\n    int = 0, multi = 1;\n    if (/^0x/.exec(str)) {\n        int = parseInt(str,16);\n    }else{\n        for (var i = str.length -1; i >=0; i -= 1) {\n            if (str.charCodeAt(i)>255) {\n                console.log('Wrong string parametr'); \n                return false;\n            }\n            int += str.charCodeAt(i) * multi;\n            multi *= 256;\n        }\n    }\n    sign = (int>>>31)?-1:1;\n    exp = (int >>> 23 & 0xff) - 127;\n    mantissa = ((int & 0x7fffff) + 0x800000).toString(2);\n    for (i=0; i<mantissa.length; i+=1){\n        float += parseInt(mantissa[i])? Math.pow(2,exp):0;\n        exp--;\n    }\n    return float*sign;\n}\n\nmsg.payload = parseFloat2('0x'+msg.payload);\nflow.set(\"Hum\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":520,"wires":[["ad85bca6.95489","9c0f0b9d.26b5a8"]]},{"id":"6513ae4e.a95d","type":"function","z":"8cf952f3.c118d","name":"ºC","func":"var Temp = Math.round(msg.payload * 100) / 100 + \" ºC\";\nflow.set(\"Temp\", Temp);\nmsg.payload = Temp;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":400,"wires":[["5cff3ee3.ea35"]]},{"id":"ad85bca6.95489","type":"function","z":"8cf952f3.c118d","name":"hPa","func":"var Pres = Math.round(msg.payload * 100) / 100 + \" hPa\";\nflow.set(\"Pres\", Pres);\nmsg.payload = Pres;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":500,"wires":[["90178666.cd5a58"]]},{"id":"ffebfc6e.fb29c","type":"function","z":"8cf952f3.c118d","name":"%","func":"var Hum = Math.round(msg.payload * 100) / 100 + \" %\";\nflow.set(\"Hum\", Hum);\nmsg.payload = Hum;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["4183992.ddb6468","b889482a.ae2e48"]]},{"id":"9c0f0b9d.26b5a8","type":"influxdb out","z":"8cf952f3.c118d","influxdb":"d04eae68.67e9d","name":"","measurement":"Presion","precision":"","retentionPolicy":"","x":940,"y":540,"wires":[]},{"id":"7f880639.59f828","type":"influxdb out","z":"8cf952f3.c118d","influxdb":"d04eae68.67e9d","name":"","measurement":"Humedad","precision":"","retentionPolicy":"","x":850,"y":640,"wires":[]},{"id":"955c80ee.229ca","type":"ttn uplink","z":"8cf952f3.c118d","name":"","app":"b38dee9.91a131","dev_id":"dispositiu-02-carlos","field":"","x":180,"y":320,"wires":[["d66a4fad.b5ee7","d266f318.d7d5f"]]},{"id":"59ec630e.96635c","type":"comment","z":"8cf952f3.c118d","name":"Temperatura OK","info":"","x":1220,"y":400,"wires":[]},{"id":"54d1d836.eb7538","type":"comment","z":"8cf952f3.c118d","name":"hPa OK","info":"","x":1150,"y":520,"wires":[]},{"id":"48b0fa71.ed5fc4","type":"comment","z":"8cf952f3.c118d","name":"Humitat OK","info":"","x":1130,"y":620,"wires":[]},{"id":"b889482a.ae2e48","type":"function","z":"8cf952f3.c118d","name":"ToBot","func":"var Temp = flow.get(\"Temp\");\nvar Pres = flow.get(\"Pres\");\nvar Hum = flow.get(\"Hum\");\n\nvar cadena = \"Temperatura: \" + Temp + \". Humedad: \" + Hum + \". Presion: \"+Pres +\".\";\nmsg.payload = cadena;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":160,"wires":[["1b38e23e.bbb71e","b80fe8ce.803298","f628dc92.d080d"]]},{"id":"1b38e23e.bbb71e","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":60,"wires":[]},{"id":"150f4665.0ffa2a","type":"telegram sender","z":"8cf952f3.c118d","name":"","bot":"c768bc84.39b4f","x":1270,"y":200,"wires":[[]]},{"id":"b80fe8ce.803298","type":"function","z":"8cf952f3.c118d","name":"Prepare telegram","func":"var msage = msg.payload;\nmsg.payload = {\n  \"content\": msage,\n  \"chatId\" : -417485666,\n  \"type\" : \"message\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":160,"wires":[["150f4665.0ffa2a"]]},{"id":"f628dc92.d080d","type":"exec","z":"8cf952f3.c118d","command":"/usr/bin/python3.5 /home/stilgar/Escritorio/Clot/2ndo/MQTT/mastodonbot.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1410,"y":260,"wires":[[],[],[]]},{"id":"d0a92066.f20b9","type":"comment","z":"8cf952f3.c118d","name":"Bots -> [Telegram , Mastodon]","info":"","x":1520,"y":160,"wires":[]},{"id":"91db8f43.96374","type":"ttn downlink","z":"8cf952f3.c118d","name":"","app":"b38dee9.91a131","dev_id":"dispositiu-02-carlos","port":"1","confirmed":false,"schedule":"replace","x":810,"y":100,"wires":[]},{"id":"3bb677fd.81cdf8","type":"inject","z":"8cf952f3.c118d","name":"","topic":"","payload":"1000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":100,"wires":[["5de171ba.2d6af"]]},{"id":"5de171ba.2d6af","type":"function","z":"8cf952f3.c118d","name":"string -> buffer","func":"/*function toUTF8Array(str) {\n    var utf8 = [];\n    for (var i=0; i < str.length; i++) {\n        var charcode = str.charCodeAt(i);\n        if (charcode < 0x80) utf8.push(charcode);\n        else if (charcode < 0x800) {\n            utf8.push(0xc0 | (charcode >> 6), \n                      0x80 | (charcode & 0x3f));\n        }\n        else if (charcode < 0xd800 || charcode >= 0xe000) {\n            utf8.push(0xe0 | (charcode >> 12), \n                      0x80 | ((charcode>>6) & 0x3f), \n                      0x80 | (charcode & 0x3f));\n        }\n        // surrogate pair\n        else {\n            i++;\n            // UTF-16 encodes 0x10000-0x10FFFF by\n            // subtracting 0x10000 and splitting the\n            // 20 bits of 0x0-0xFFFFF into two halves\n            charcode = 0x10000 + (((charcode & 0x3ff)<<10)\n                      | (str.charCodeAt(i) & 0x3ff));\n            utf8.push(0xf0 | (charcode >>18), \n                      0x80 | ((charcode>>12) & 0x3f), \n                      0x80 | ((charcode>>6) & 0x3f), \n                      0x80 | (charcode & 0x3f));\n        }\n    }\n    return utf8;\n}*/\nvar tr = Buffer.from(msg.payload);\nif(tr.length < 200){\n    msg.payload = tr;\n}else{\n    msg.payload = \"\";\n}\nmsg.dev_id = 'dispositiu-02-carlos'\nmsg.port = 1\nmsg.confirmed = false\nmsg.schedule = 'last'\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[["9451574f.37da88","91db8f43.96374"]]},{"id":"9451574f.37da88","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":160,"wires":[]},{"id":"fad7c156.b59df","type":"inject","z":"8cf952f3.c118d","name":"","topic":"","payload":"Gogo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":160,"wires":[["5de171ba.2d6af"]]},{"id":"50a0e192.2c7bb","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":720,"wires":[]},{"id":"1904f829.b5cf68","type":"function","z":"8cf952f3.c118d","name":"MSJ CHECK","func":"if (msg.payload == 1)\n    msg.payload = \"Mensaje recibido!\";\nelse \n    msg.payload = \"No hay ningun mensaje\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":680,"wires":[["50a0e192.2c7bb"]]},{"id":"68e18eba.ac27c","type":"function","z":"8cf952f3.c118d","name":"parseFloat2","func":"function parseFloat2(str) {\n    var float = 0, sign, order, mantiss,exp,\n    int = 0, multi = 1;\n    if (/^0x/.exec(str)) {\n        int = parseInt(str,16);\n    }else{\n        for (var i = str.length -1; i >=0; i -= 1) {\n            if (str.charCodeAt(i)>255) {\n                console.log('Wrong string parametr'); \n                return false;\n            }\n            int += str.charCodeAt(i) * multi;\n            multi *= 256;\n        }\n    }\n    sign = (int>>>31)?-1:1;\n    exp = (int >>> 23 & 0xff) - 127;\n    mantissa = ((int & 0x7fffff) + 0x800000).toString(2);\n    for (i=0; i<mantissa.length; i+=1){\n        float += parseInt(mantissa[i])? Math.pow(2,exp):0;\n        exp--;\n    }\n    return float*sign;\n}\n\nmsg.payload = parseFloat2('0x'+msg.payload);\nflow.set(\"Press\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":640,"wires":[["1904f829.b5cf68"]]},{"id":"d04eae68.67e9d","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Iot2","name":"","usetls":false,"tls":""},{"id":"b38dee9.91a131","type":"ttn app","z":"","appId":"rprim-00","accessKey":"ttn-account-v2.irCFfLW5B7c9K6rpO86Mk6hlB7HTv0kRf2Lf2I7_xpU","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"c768bc84.39b4f","type":"telegram bot","z":"","botname":"ProjectFIotBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]