LoRaABP/LoRaUpLink.json
[{"id":"635a8044.64dcd","type":"tab","label":"LoRaABP","disabled":true,"info":""},{"id":"a2b35dcc.2f78d","type":"influxdb out","z":"635a8044.64dcd","influxdb":"d04eae68.67e9d","name":"","measurement":"Temperatura","precision":"","retentionPolicy":"","x":800,"y":460,"wires":[]},{"id":"e1b4ce40.d9315","type":"debug","z":"635a8044.64dcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":300,"wires":[]},{"id":"231642c1.00cb9e","type":"function","z":"635a8044.64dcd","name":"buffer -> string","func":"var nQuants = msg.payload.length;\nvar i,n;\nvar szC = \"\",sz = \"\";\n\nfor(i = 0 ; i < nQuants ; i++){\n    n = msg.payload[i];\n    sz = n.toString(16);\n    if(sz.length == 1)\n        sz = \"0\"+sz;\n    szC += sz;\n}\nmsg.payload = szC;\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":420,"wires":[["d56c502f.c80f9","7e609710.b79d48"]]},{"id":"d56c502f.c80f9","type":"debug","z":"635a8044.64dcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":360,"wires":[]},{"id":"7e609710.b79d48","type":"function","z":"635a8044.64dcd","name":"12 -> 3x4","func":"var T = {payload: (msg.payload.substring(0,8))};\nvar RH = {payload: (msg.payload.substring(8,16))};\nvar P = {payload: (msg.payload.substring(16,24))};\nreturn [T,RH,P];","outputs":3,"noerr":0,"x":120,"y":540,"wires":[["14acdeed.503871"],["30cf2c2f.220644"],["334a8b86.098f04"]]},{"id":"c6a4eadb.8a4c08","type":"debug","z":"635a8044.64dcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":420,"wires":[]},{"id":"87e6dc7e.be14e","type":"debug","z":"635a8044.64dcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":520,"wires":[]},{"id":"e5784148.8f369","type":"debug","z":"635a8044.64dcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":620,"wires":[]},{"id":"14acdeed.503871","type":"function","z":"635a8044.64dcd","name":"parseFloat2","func":"// https://stackoverflow.com/questions/5055723/converting-hexadecimal-to-float-in-javascript\n\nfunction parseFloat2(str) {\n    var float = 0, sign, order, mantiss,exp,\n    int = 0, multi = 1;\n    if (/^0x/.exec(str)) {\n        int = parseInt(str,16);\n    }else{\n        for (var i = str.length -1; i >=0; i -= 1) {\n            if (str.charCodeAt(i)>255) {\n                console.log('Wrong string parametr'); \n                return false;\n            }\n            int += str.charCodeAt(i) * multi;\n            multi *= 256;\n        }\n    }\n    sign = (int>>>31)?-1:1;\n    exp = (int >>> 23 & 0xff) - 127;\n    mantissa = ((int & 0x7fffff) + 0x800000).toString(2);\n    for (i=0; i<mantissa.length; i+=1){\n        float += parseInt(mantissa[i])? Math.pow(2,exp):0;\n        exp--;\n    }\n    return float*sign;\n}\n\nmsg.payload = parseFloat2('0x'+msg.payload);\nflow.set(\"Temp\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["793edcf5.fdb644","a2b35dcc.2f78d"]]},{"id":"334a8b86.098f04","type":"function","z":"635a8044.64dcd","name":"parseFloat2","func":"function parseFloat2(str) {\n    var float = 0, sign, order, mantiss,exp,\n    int = 0, multi = 1;\n    if (/^0x/.exec(str)) {\n        int = parseInt(str,16);\n    }else{\n        for (var i = str.length -1; i >=0; i -= 1) {\n            if (str.charCodeAt(i)>255) {\n                console.log('Wrong string parametr'); \n                return false;\n            }\n            int += str.charCodeAt(i) * multi;\n            multi *= 256;\n        }\n    }\n    sign = (int>>>31)?-1:1;\n    exp = (int >>> 23 & 0xff) - 127;\n    mantissa = ((int & 0x7fffff) + 0x800000).toString(2);\n    for (i=0; i<mantissa.length; i+=1){\n        float += parseInt(mantissa[i])? Math.pow(2,exp):0;\n        exp--;\n    }\n    return float*sign;\n}\n\nmsg.payload = parseFloat2('0x'+msg.payload);\nflow.set(\"Press\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":600,"wires":[["9d1963b1.4580c","c597515b.94d57"]]},{"id":"30cf2c2f.220644","type":"function","z":"635a8044.64dcd","name":"parseFloat2","func":"function parseFloat2(str) {\n    var float = 0, sign, order, mantiss,exp,\n    int = 0, multi = 1;\n    if (/^0x/.exec(str)) {\n        int = parseInt(str,16);\n    }else{\n        for (var i = str.length -1; i >=0; i -= 1) {\n            if (str.charCodeAt(i)>255) {\n                console.log('Wrong string parametr'); \n                return false;\n            }\n            int += str.charCodeAt(i) * multi;\n            multi *= 256;\n        }\n    }\n    sign = (int>>>31)?-1:1;\n    exp = (int >>> 23 & 0xff) - 127;\n    mantissa = ((int & 0x7fffff) + 0x800000).toString(2);\n    for (i=0; i<mantissa.length; i+=1){\n        float += parseInt(mantissa[i])? Math.pow(2,exp):0;\n        exp--;\n    }\n    return float*sign;\n}\n\nmsg.payload = parseFloat2('0x'+msg.payload);\nflow.set(\"Hum\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["3c56d0ec.11b2d","f52330a8.e483b"]]},{"id":"793edcf5.fdb644","type":"function","z":"635a8044.64dcd","name":"ºC","func":"var Temp = Math.round(msg.payload * 100) / 100 + \" ºC\";\nflow.set(\"Temp\", Temp);\nmsg.payload = Temp;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":420,"wires":[["c6a4eadb.8a4c08"]]},{"id":"3c56d0ec.11b2d","type":"function","z":"635a8044.64dcd","name":"hPa","func":"var Pres = Math.round(msg.payload * 100) / 100 + \" hPa\";\nflow.set(\"Pres\", Pres);\nmsg.payload = Pres;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":520,"wires":[["87e6dc7e.be14e"]]},{"id":"9d1963b1.4580c","type":"function","z":"635a8044.64dcd","name":"%","func":"var Hum = Math.round(msg.payload * 100) / 100 + \" %\";\nflow.set(\"Hum\", Hum);\nmsg.payload = Hum;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":600,"wires":[["e5784148.8f369","62382983.b4cbd8"]]},{"id":"f52330a8.e483b","type":"influxdb out","z":"635a8044.64dcd","influxdb":"d04eae68.67e9d","name":"","measurement":"Presion","precision":"","retentionPolicy":"","x":780,"y":560,"wires":[]},{"id":"c597515b.94d57","type":"influxdb out","z":"635a8044.64dcd","influxdb":"d04eae68.67e9d","name":"","measurement":"Humedad","precision":"","retentionPolicy":"","x":690,"y":660,"wires":[]},{"id":"7a5a9096.63778","type":"ttn uplink","z":"635a8044.64dcd","name":"","app":"b38dee9.91a131","dev_id":"dispositiu-01-carlos","field":"","x":60,"y":360,"wires":[["231642c1.00cb9e","e1b4ce40.d9315"]]},{"id":"c131defe.374fb","type":"comment","z":"635a8044.64dcd","name":"Temperatura OK","info":"","x":1060,"y":420,"wires":[]},{"id":"fd4e7a8c.4d8448","type":"comment","z":"635a8044.64dcd","name":"hPa OK","info":"","x":990,"y":540,"wires":[]},{"id":"5efd80c5.a577e","type":"comment","z":"635a8044.64dcd","name":"Humitat OK","info":"","x":970,"y":640,"wires":[]},{"id":"62382983.b4cbd8","type":"function","z":"635a8044.64dcd","name":"ToBot","func":"var Temp = flow.get(\"Temp\");\nvar Pres = flow.get(\"Pres\");\nvar Hum = flow.get(\"Hum\");\n\nvar cadena = \"Temperatura: \" + Temp + \". Humedad: \" + Hum + \". Presion: \"+Pres +\".\";\nmsg.payload = cadena;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":180,"wires":[["ea0ec5ad.acd658","b0489c5e.c2e2b","cc789412.d35968"]]},{"id":"ea0ec5ad.acd658","type":"debug","z":"635a8044.64dcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":100,"wires":[]},{"id":"757f83fb.1cd85c","type":"telegram sender","z":"635a8044.64dcd","name":"","bot":"c768bc84.39b4f","x":1110,"y":220,"wires":[[]]},{"id":"b0489c5e.c2e2b","type":"function","z":"635a8044.64dcd","name":"Prepare telegram","func":"var msage = msg.payload;\nmsg.payload = {\n  \"content\": msage,\n  \"chatId\" : -417485666,\n  \"type\" : \"message\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":180,"wires":[["757f83fb.1cd85c"]]},{"id":"cc789412.d35968","type":"exec","z":"635a8044.64dcd","command":"/usr/bin/python3.5 /home/stilgar/Escritorio/Clot/2ndo/MQTT/mastodonbot.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1250,"y":280,"wires":[[],[],[]]},{"id":"a56f81b3.1a002","type":"ttn downlink","z":"635a8044.64dcd","name":"","app":"b38dee9.91a131","dev_id":"dispositiu-01-carlos","port":"1","confirmed":false,"schedule":"replace","x":650,"y":120,"wires":[]},{"id":"c470cf5b.0b6be","type":"inject","z":"635a8044.64dcd","name":"","topic":"","payload":"1000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":120,"wires":[["a3166b84.6f1538"]]},{"id":"a3166b84.6f1538","type":"function","z":"635a8044.64dcd","name":"string -> buffer","func":"/*function toUTF8Array(str) {\n    var utf8 = [];\n    for (var i=0; i < str.length; i++) {\n        var charcode = str.charCodeAt(i);\n        if (charcode < 0x80) utf8.push(charcode);\n        else if (charcode < 0x800) {\n            utf8.push(0xc0 | (charcode >> 6), \n                      0x80 | (charcode & 0x3f));\n        }\n        else if (charcode < 0xd800 || charcode >= 0xe000) {\n            utf8.push(0xe0 | (charcode >> 12), \n                      0x80 | ((charcode>>6) & 0x3f), \n                      0x80 | (charcode & 0x3f));\n        }\n        // surrogate pair\n        else {\n            i++;\n            // UTF-16 encodes 0x10000-0x10FFFF by\n            // subtracting 0x10000 and splitting the\n            // 20 bits of 0x0-0xFFFFF into two halves\n            charcode = 0x10000 + (((charcode & 0x3ff)<<10)\n                      | (str.charCodeAt(i) & 0x3ff));\n            utf8.push(0xf0 | (charcode >>18), \n                      0x80 | ((charcode>>12) & 0x3f), \n                      0x80 | ((charcode>>6) & 0x3f), \n                      0x80 | (charcode & 0x3f));\n        }\n    }\n    return utf8;\n}*/\nvar tr = Buffer.from(msg.payload);\nif(tr.length < 200){\n    msg.payload = tr;\n}else{\n    msg.payload = \"\";\n}\nmsg.dev_id = 'dispositiu-01-carlos'\nmsg.port = 1\nmsg.confirmed = false\nmsg.schedule = 'last'\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["128570ec.b549df","a56f81b3.1a002"]]},{"id":"128570ec.b549df","type":"debug","z":"635a8044.64dcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":180,"wires":[]},{"id":"21bc76b0.44b99a","type":"inject","z":"635a8044.64dcd","name":"","topic":"","payload":"funciona?","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["a3166b84.6f1538"]]},{"id":"d04eae68.67e9d","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Iot2","name":"","usetls":false,"tls":""},{"id":"b38dee9.91a131","type":"ttn app","z":"","appId":"rprim-00","accessKey":"ttn-account-v2.irCFfLW5B7c9K6rpO86Mk6hlB7HTv0kRf2Lf2I7_xpU","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"c768bc84.39b4f","type":"telegram bot","z":"","botname":"ProjectFIotBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]