LoRaUpLink/LoRaUpLink.json
[{"id":"8cf952f3.c118d","type":"tab","label":"LoRa UpLink->Iot-02_12","disabled":false,"info":""},{"id":"d2ca90b2.da722","type":"influxdb out","z":"8cf952f3.c118d","influxdb":"d04eae68.67e9d","name":"","measurement":"Temperatura","precision":"","retentionPolicy":"","x":940,"y":440,"wires":[]},{"id":"d266f318.d7d5f","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":160,"wires":[]},{"id":"d66a4fad.b5ee7","type":"function","z":"8cf952f3.c118d","name":"buffer -> string","func":"var nQuants = msg.payload.length;\nvar i,n;\nvar szC = \"\",sz = \"\";\n\nfor(i = 0 ; i < nQuants ; i++){\n    n = msg.payload[i];\n    sz = n.toString(16);\n    if(sz.length == 1)\n        sz = \"0\"+sz;\n    szC += sz;\n}\nmsg.payload = szC;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":260,"wires":[["694424db.27f08c","ffc651fc.60fa"]]},{"id":"694424db.27f08c","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":260,"wires":[]},{"id":"d9c7f8cd.f9d068","type":"function","z":"8cf952f3.c118d","name":"Minimum of 2 seconds for a new info","func":"var currentDate = new Date().toISOString();\nvar timestamp = Date.parse(currentDate);\nif(flow.get(\"LAST_SENT\")+2000 < timestamp){\n    flow.set(\"LAST_SENT\",timestamp);\n    return msg;\n}","outputs":1,"noerr":0,"x":210,"y":300,"wires":[["ffc651fc.60fa"]]},{"id":"ffc651fc.60fa","type":"function","z":"8cf952f3.c118d","name":"12 -> 3x4","func":"var T = {payload: (msg.payload.substring(0,8))};\nvar RH = {payload: (msg.payload.substring(8,16))};\nvar P = {payload: (msg.payload.substring(16,24))};\nreturn [T,RH,P];","outputs":3,"noerr":0,"x":280,"y":520,"wires":[["69d5126.1eac4ec"],["9bb70a89.775c58"],["d9a3bdb6.7404c"]]},{"id":"5cff3ee3.ea35","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":400,"wires":[]},{"id":"90178666.cd5a58","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":500,"wires":[]},{"id":"4183992.ddb6468","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":600,"wires":[]},{"id":"69d5126.1eac4ec","type":"function","z":"8cf952f3.c118d","name":"parseFloat2","func":"// https://stackoverflow.com/questions/5055723/converting-hexadecimal-to-float-in-javascript\n\nfunction parseFloat2(str) {\n    var float = 0, sign, order, mantiss,exp,\n    int = 0, multi = 1;\n    if (/^0x/.exec(str)) {\n        int = parseInt(str,16);\n    }else{\n        for (var i = str.length -1; i >=0; i -= 1) {\n            if (str.charCodeAt(i)>255) {\n                console.log('Wrong string parametr'); \n                return false;\n            }\n            int += str.charCodeAt(i) * multi;\n            multi *= 256;\n        }\n    }\n    sign = (int>>>31)?-1:1;\n    exp = (int >>> 23 & 0xff) - 127;\n    mantissa = ((int & 0x7fffff) + 0x800000).toString(2);\n    for (i=0; i<mantissa.length; i+=1){\n        float += parseInt(mantissa[i])? Math.pow(2,exp):0;\n        exp--;\n    }\n    return float*sign;\n}\n\nmsg.payload = parseFloat2('0x'+msg.payload);\nflow.set(\"Temp\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["6513ae4e.a95d"]]},{"id":"d9a3bdb6.7404c","type":"function","z":"8cf952f3.c118d","name":"parseFloat2","func":"function parseFloat2(str) {\n    var float = 0, sign, order, mantiss,exp,\n    int = 0, multi = 1;\n    if (/^0x/.exec(str)) {\n        int = parseInt(str,16);\n    }else{\n        for (var i = str.length -1; i >=0; i -= 1) {\n            if (str.charCodeAt(i)>255) {\n                console.log('Wrong string parametr'); \n                return false;\n            }\n            int += str.charCodeAt(i) * multi;\n            multi *= 256;\n        }\n    }\n    sign = (int>>>31)?-1:1;\n    exp = (int >>> 23 & 0xff) - 127;\n    mantissa = ((int & 0x7fffff) + 0x800000).toString(2);\n    for (i=0; i<mantissa.length; i+=1){\n        float += parseInt(mantissa[i])? Math.pow(2,exp):0;\n        exp--;\n    }\n    return float*sign;\n}\n\nmsg.payload = parseFloat2('0x'+msg.payload);\nflow.set(\"Press\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":580,"wires":[["ffebfc6e.fb29c"]]},{"id":"9bb70a89.775c58","type":"function","z":"8cf952f3.c118d","name":"parseFloat2","func":"function parseFloat2(str) {\n    var float = 0, sign, order, mantiss,exp,\n    int = 0, multi = 1;\n    if (/^0x/.exec(str)) {\n        int = parseInt(str,16);\n    }else{\n        for (var i = str.length -1; i >=0; i -= 1) {\n            if (str.charCodeAt(i)>255) {\n                console.log('Wrong string parametr'); \n                return false;\n            }\n            int += str.charCodeAt(i) * multi;\n            multi *= 256;\n        }\n    }\n    sign = (int>>>31)?-1:1;\n    exp = (int >>> 23 & 0xff) - 127;\n    mantissa = ((int & 0x7fffff) + 0x800000).toString(2);\n    for (i=0; i<mantissa.length; i+=1){\n        float += parseInt(mantissa[i])? Math.pow(2,exp):0;\n        exp--;\n    }\n    return float*sign;\n}\n\nmsg.payload = parseFloat2('0x'+msg.payload);\nflow.set(\"Hum\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":520,"wires":[["ad85bca6.95489"]]},{"id":"6513ae4e.a95d","type":"function","z":"8cf952f3.c118d","name":"ºC","func":"msg.payload = Math.round(msg.payload * 100) / 100 + \" ºC\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":400,"wires":[["5cff3ee3.ea35"]]},{"id":"ad85bca6.95489","type":"function","z":"8cf952f3.c118d","name":"hPa","func":"msg.payload = Math.round(msg.payload * 100) / 100 + \" hPa\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":500,"wires":[["90178666.cd5a58"]]},{"id":"ffebfc6e.fb29c","type":"function","z":"8cf952f3.c118d","name":"%","func":"msg.payload = Math.round(msg.payload * 100) / 100 + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":600,"wires":[["4183992.ddb6468"]]},{"id":"9c0f0b9d.26b5a8","type":"influxdb out","z":"8cf952f3.c118d","influxdb":"d04eae68.67e9d","name":"","measurement":"Presion","precision":"","retentionPolicy":"","x":840,"y":640,"wires":[]},{"id":"7f880639.59f828","type":"influxdb out","z":"8cf952f3.c118d","influxdb":"d04eae68.67e9d","name":"","measurement":"Humedad","precision":"","retentionPolicy":"","x":910,"y":540,"wires":[]},{"id":"955c80ee.229ca","type":"ttn uplink","z":"8cf952f3.c118d","name":"","app":"b38dee9.91a131","dev_id":"dispositiu-01-carlos","field":"","x":340,"y":140,"wires":[["d66a4fad.b5ee7","d266f318.d7d5f"]]},{"id":"ca3282f.0f6648","type":"debug","z":"8cf952f3.c118d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":720,"wires":[]},{"id":"a8ce0530.ae8d68","type":"function","z":"8cf952f3.c118d","name":"parseFloat2","func":"function parseFloat2(str) {\n    var float = 0, sign, order, mantiss,exp,\n    int = 0, multi = 1;\n    if (/^0x/.exec(str)) {\n        int = parseInt(str,16);\n    }else{\n        for (var i = str.length -1; i >=0; i -= 1) {\n            if (str.charCodeAt(i)>255) {\n                console.log('Wrong string parametr'); \n                return false;\n            }\n            int += str.charCodeAt(i) * multi;\n            multi *= 256;\n        }\n    }\n    sign = (int>>>31)?-1:1;\n    exp = (int >>> 23 & 0xff) - 127;\n    mantissa = ((int & 0x7fffff) + 0x800000).toString(2);\n    for (i=0; i<mantissa.length; i+=1){\n        float += parseInt(mantissa[i])? Math.pow(2,exp):0;\n        exp--;\n    }\n    return float*sign;\n}\n\nmsg.payload = parseFloat2('0x'+msg.payload);\nflow.set(\"Hum\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":700,"wires":[["1bd77786.fe2c58"]]},{"id":"1bd77786.fe2c58","type":"function","z":"8cf952f3.c118d","name":"M","func":"msg.payload = Math.round(msg.payload * 100) / 100 + \" m\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":700,"wires":[["ca3282f.0f6648"]]},{"id":"3166300c.7fce9","type":"influxdb out","z":"8cf952f3.c118d","influxdb":"d04eae68.67e9d","name":"","measurement":"Altitud","precision":"","retentionPolicy":"","x":780,"y":760,"wires":[]},{"id":"8cfaaa54.006ea8","type":"comment","z":"8cf952f3.c118d","name":"lo coge todo sin decimales, por eso falla","info":"","x":940,"y":340,"wires":[]},{"id":"59ec630e.96635c","type":"comment","z":"8cf952f3.c118d","name":"Temperatura OK","info":"","x":1220,"y":400,"wires":[]},{"id":"54d1d836.eb7538","type":"comment","z":"8cf952f3.c118d","name":"hPa OK","info":"","x":1150,"y":520,"wires":[]},{"id":"afd2cad0.6ab438","type":"comment","z":"8cf952f3.c118d","name":"A NaN","info":"","x":1030,"y":740,"wires":[]},{"id":"48b0fa71.ed5fc4","type":"comment","z":"8cf952f3.c118d","name":"Humitat OK","info":"","x":1130,"y":620,"wires":[]},{"id":"d04eae68.67e9d","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Iot2","name":"","usetls":false,"tls":""},{"id":"b38dee9.91a131","type":"ttn app","z":"","appId":"rprim-00","accessKey":"ttn-account-v2.irCFfLW5B7c9K6rpO86Mk6hlB7HTv0kRf2Lf2I7_xpU","discovery":"discovery.thethingsnetwork.org:1900"}]